<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brother.ptouch.sdk.FeedingSandiego">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.brother.ptouch.sdk.FeedingSandiego.ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_StartMenu"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/png" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.brother.ptouch.sdk.FeedingSandiego.Activity_PrintImage"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_print_image">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_PrintPdf"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_print_pdf" />
        <activity
            android:name=".Activity_SaveFile"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_print_pdf" />
        <activity
            android:name=".Activity_TransferPdz"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_transfer_pdz" />
        <activity
            android:name="com.brother.ptouch.sdk.FeedingSandiego.Activity_PrintTemplate"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_print_template" />
        <activity
            android:name="com.brother.ptouch.sdk.FeedingSandiego.Activity_Settings"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/menu_settings" />
        <activity
            android:name=".Activity_NetPrinterList"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize" />
        <activity
            android:name=".Activity_RemoveTemplate"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_remove_template" />
        <activity
            android:name=".Activity_NetSettings"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_wifi_setting" />
        <activity
            android:name="com.brother.ptouch.sdk.FeedingSandiego.Activity_PrinterSettings"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_printer_setting" />
        <activity
            android:name="com.brother.ptouch.sdk.FeedingSandiego.Activity_PrinterPreference"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|fontScale|screenSize"
            android:label="@string/text_device_setting" />

    </application>
</manifest>